@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Noto Sans JP', sans-serif;
  --base-color: #fff;
  --base-text-color: #00020a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-color: #00020a;
    --base-text-color: #fff;
  }
}

body {
  background-color: var(--base-color);
  color: var(--base-text-color);
  font-family: var(--font-family);
  font-feature-settings: "palt";
  font-weight: 500;
}
