.Main {
  color: #fff;
  font-size: 2rem;
  display: grid;
  place-content: center;
  width: 100%;
}

.Summary {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  padding: 3rem 0;
}
